$primaryColor:#E0E8FF;
$secondaryColor:#3828E0;
$thirdColor:#F4F7FF;
$fourthColor:#717FA6;
$fifthColor:#1F2E56;
$fontColor:#65666a;

html{
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}